ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

body {
background-image: url('./img/BG2.jpg');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
}
img {
  border-radius: 8px;
}
img {
height: 250px;
width: 250px;
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 20px;
margin-bottom: 20px;
} 
p.myself{
  background-color: black;
color: rgb(255, 255, 255);
text-align: center;
margin: auto;
width: 35%;
border: 3px solid green;
border-radius: 8px;
padding: 10px;

}
h1{
background-color: black;
color: white;
text-align: center;
margin: auto;
width: 35%;
border: 3px solid green;
padding: 10px;
border-radius: 8px;

}
p.content{
background-color: black;
color: white;
text-align: center;
margin: auto;
width: 35%;
border: 3px solid green;
padding: 10px;
border-radius: 8px;

}
